.container{
    z-index: 9;
}
.head{
    padding: 0rpx;
    margin: 20rpx;
    margin: 0 auto;
    width: 96%;
    background-color: black;
    height:700rpx;
    border-radius: 15px;
    -moz-box-shadow:1px 0px 13px #969696; 
    -webkit-box-shadow:1px 0px 13px #969696; 
    box-shadow:1px 0px 13px #969696;
    .bg{
        border-radius: 15px;
        width: 100%;
        height: 100%;
        opacity: 0.60; //透明度
        z-index: 2;
        
    }
    .rule{
        width: 168rpx;
        height: 48rpx;
        position: absolute;
        z-index: 999;
        top: 26rpx;
        right: 0px;
    }
    .time{
        position: absolute;
        top:287rpx;
        width: 230rpx; 
        display:flex;
        .detailtime{
            color: #f8f8f8;
            text-align: center;
            letter-spacing: 5rpx;
            font-size: 90rpx;
            margin-left: 260rpx;
        }
        .signbutton{
            margin: 0px auto;
            width: 280rpx;
            height: 139rpx;
            z-index: -1;
        }

    }

    .des{
        display:flex;
        flex-direction: column;
        position: absolute;
        top:366rpx;
        margin-top:30rpx;
        left: 285rpx;
        //left: 40%;
        text-align: center;
        color: #fff;
        letter-spacing: 2rpx;
        font-size: 24rpx;
        font-weight: 300rpx;
    }
    .food{
        width: 100%;
        height: 41rpx;
        text-align: center;
        background-color: #F56F61;
        color: #fff;
        font-size: 24rpx;
        font-family: "MHeiM-C-GB18030-S60";
        letter-spacing: 1rpx;
        position: absolute;
        top:627rpx;
    }
    .detail{
        width: 100%;
        height: 41rpx;
        text-align: center;
        color: #fff;
        font-size: 24rpx;
        font-family: "MHeiM-C-GB18030-S60";
        letter-spacing: 1rpx;
        font-weight:bold;  
        position: absolute;
        top:653rpx;
    }
}

.step{
    width: 96%;
    margin: 20rpx auto;
    height: 180rpx;
    background-color: white;
    padding-top: 10rpx;

    // border-radius: 15px;
    // -moz-box-shadow:1px 0px 13px #969696; 
    // -webkit-box-shadow:1px 0px 13px #969696; 
    // box-shadow:1px 0px 13px #969696;

    border-radius: 24px;
    background: #fff;
    box-shadow:  30px 30px 60px #cdd4d9, 
                -30px -30px 60px #ffffff;
    h4{
        font-size: 24rpx;
        color:rgb(51,51,51);
        font-weight:bold;
        font-family: 'MHeiM-C-GB18030-S60'
    }
    .img{
        height: 40%;
        width: 40%;
        background-size: cover;
        -webkit-background-size: cover;
        -o-background-size: cover;
        background-position: center 0;
    }
}

.newsign{
    width: 96%;
    height: 71rpx;
    background-color: #ffffff;
    margin:0rpx auto;
    display: flex;
    align-items: center;  

    border-radius: 10px;
    .someone{
        width: 122rpx;
        height: 42rpx;
        .newtext{
            display: flex;
            align-items: center;
            justify-content: center; 
            position: absolute;
            margin-top: 2rpx;
            margin-left: 14rpx;            
            color: #9cd2eb;
            font-size: 25rpx;
            font-weight: bolder; 
        } 
        border-right: 1px solid rgb(204,204,204);
    }
    .avatarurl{
        margin-left: 14rpx;
        width: 60rpx;
        height: 60rpx;     
        border-radius: 50%;
        overflow: hidden;
        img{                  
            width: 100%;
            height: 100%;
        }
    }
}

.signdate{
	background-color: var(--white);
    color: var(--darkGray);
    .cu-steps{
        display: flex;
        .cu-item{
            flex: 1;
            text-align: center;
            position: relative;
            min-width: 100rpx;
        }
    }
}

.DayAndNum{
    width: 96%;
    height: 180rpx;
    background-color: #ffffff;
    margin:30rpx auto;
    display: flex;
    align-items: center;
    justify-content: center;

    // border-radius: 15px;
    // background-color: #fff;
    // -moz-box-shadow:1px 0px 13px #969696; 
    // -webkit-box-shadow:1px 0px 13px #969696; 
    // box-shadow:1px 0px 13px #969696;

    border-radius: 24px;
    background: #fff;
    box-shadow:  30px 30px 60px #cdd4d9, 
                -30px -30px 60px #ffffff;

    .all{
        width: 704rpx;
        height: 94rpx;
        .blockAll{
            height: 100%;
            width: 232rpx;
            float: left;
            text-align: center;
            h4{
                font-size: 24rpx;
                color:rgb(51,51,51);
                font-weight:bold;
                font-family: 'MHeiM-C-GB18030-S60'
            }
            span{
                font-size:48rpx;
                color:rgb(245,111,97);
                font-weight: bolder;
            }
        }
        .blockAll[data-index="0"]{
            border-right: 1px solid rgb(204,204,204);
        }
        .blockAll[data-index="1"]{
            border-right: 1px solid rgb(204,204,204);
        }
       
    }
}
.last{
    width: 100%;
    height: 40rpx;
    display: flex;
    align-items: center;
    justify-content: center;
    //background-color: rgb(156,210,235);
    color: #f56f61;
    font-weight: bolder;
    font-size: 24rpx;
    margin-top:12rpx;
}

.clickOut{
    //background-color: red;
    width:150rpx;
    height: 360rpx;
    position: absolute;
    top:65%;
    left: 40%;
    z-index: 999;
}

/*iphonex1040*/
@media screen and (width: 375px) and (height:642px){
    .phone{
       //height:50rpx;
       width:100%;
       background-color: white;
    }
    .head{
       .rule{
        width: 168rpx;
        height: 48rpx;
        position: absolute;
        z-index: 999;
        top: 30rpx;
        right: 0px;
      }
      .food{
        width: 100%;
        height: 41rpx;
        text-align: center;
        background-color: #F56F61;
        color: #fff;
        font-size: 24rpx;
        font-family: "MHeiM-C-GB18030-S60";
        letter-spacing: 1rpx;
        position: absolute;
        top:677rpx;
      }
    .detail{
        width: 100%;
        height: 41rpx;
        text-align: center;
        color: #fff;
        font-size: 24rpx;
        font-family: "MHeiM-C-GB18030-S60";
        letter-spacing: 1rpx;
        font-weight:bold;  
        position: absolute;
        top:650rpx;
       }
    }
    .newsign{
        width: 100%;
        height: 100rpx;
        //margin-top:50rpx;
    }
    .DayAndNum{
       width: 96%;
       height: 200rpx;
       margin:30rpx auto;
    }
    .last{
       margin-top:15rpx;
    }
    
}

/*安卓全面屏*/
@media screen and (min-width: 376px) and (min-height:643px){
    .phone{
       height:50rpx;
       width:100%;
       background-color: white;
    }
    .head{
       .rule{
        width: 168rpx;
        height: 48rpx;
        position: absolute;
        z-index: 999;
        top: 80rpx;
        right: 0px;
      }
      .food{
        width: 100%;
        height: 41rpx;
        text-align: center;
        background-color: #F56F61;
        color: #fff;
        font-size: 24rpx;
        font-family: "MHeiM-C-GB18030-S60";
        letter-spacing: 1rpx;
        position: absolute;
        top:677rpx;
      }
    .detail{
        width: 100%;
        height: 41rpx;
        text-align: center;
        color: #fff;
        font-size: 24rpx;
        font-family: "MHeiM-C-GB18030-S60";
        letter-spacing: 1rpx;
        font-weight:bold;  
        position: absolute;
        top:700rpx;
       }
    }
    .newsign{
        width: 100%;
        height: 100rpx;
        //margin-top:70rpx;
    }
    .DayAndNum{
       width: 96%;
       height: 200rpx;
       margin: 30rpx auto;
       //margin-top:90rpx;
    }
    .last{
       margin-top:15rpx;
    }
    .clickOut{
        //background-color: yellow;
        width:150rpx;
        height: 400rpx;
        position: absolute;
        top:60%;
        left: 40%;
        z-index: 999;
    }
}



